# uvicorn main:app --reload
# pip install -r requrirements.txt
# uvicorn main:app --host 10.0.1.13 --reload
uvicorn  # server
fastapi[all]   # main api 
pydantic    # to build schemas and data models 
python-multipart # to process forms
jinja2 # templates

sqlalchemy   # this is an ORM  - object relational Mapping library a 'middleware' bt python and db