{% extends "base.html" %}

{% block title %}ESP_API - My Custom Page{% endblock %}
{% block head %} 
<link href="{{ url_for('static', path='/user_form.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
    {{ super() }}
{% endblock %}

{% block body1 %}
<div class="image-container">
   <h2>Create New User</h2>
<img src="{{ url_for('static', path='/tc.jpg') }}" alt="ESP32" width="300">
</div>
  <script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (password !== confirmPassword) {
        alert("Passwords do not match!");
        return false;
      }
    }
  </script>

 
<div class="form-container">
  <form method="post" onsubmit="return validateForm()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>

    <input type="submit" value="Create User">
  </form>
</div>


{% endblock %}

{% block body2 %}
<p>Already have an account: <a href="/login">Login</a></p>
{% endblock %}

