{% extends "base.html" %}

{% block title %}ESP_API - My Custom Page{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block body1 %}
<h2>User Login</h2>
<form>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>

  <input type="submit" value="Login">
</form>


{% endblock %}

{% block body2 %}
<p>Don't have an account? <a href="create_user">Create new account</a></p>
{% endblock %}
